.header_left{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text{

  a{
    font-size: 24px;
    /*margin-Header_left: 50%;*/
    color: #ffffff;
    font-family: Cinzel;
    text-decoration: none;
  }
}

.logo{
  margin-top: 7% ;
  width: 70px;
  height: 70px;
}
