.about_mobile{
  display: grid;
  /*grid-template-columns:
  3fr 4fr;
  grid-template-rows: 2fr;*/
  padding-top: 35%;
  padding-bottom: 5%;

}

.key{
  padding-left: 10%;
  width: 245px;
}

.info{
  padding-left: 10%;
  width: 265px;
}


