.oppinion_index_border_button{
  padding-left: 6%;
}

.button{
  width: 251px;
  height: 82px;
  border: 1px solid #16253C;
  border-radius: 10px;
  font-size: 16px;
  font-weight: normal;
  align-items: center;
  background-color: rgba(28,28,28,0);

  a{
    text-decoration: none;
    color: #16253C;
  }
}
