.benefits_text_grand{
  h1 {
    font-size: 36px;
    font-weight: 700;
    color: #16253C;
  }

  h2{
    color: #16253C;
    font-size:24px;
    font-weight: 500;
  }
  p {
    color: #16253C;
  }

}
