.footer_list_right{

}

.footer_right{
  padding-top: 13%;

  h2{
   // padding-left: 6%;
    padding-top: 2%;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    color: #ffffff;
  }

  li{
    text-decoration: none;
    color: #ffffff;
    list-style-type: none;
    font-size: 16px;
  }
}

.deliver{
  border-radius: 10px;
  border-color: white;
  background-color: rgba(28,28,28,0);
  height:75px;
  width:312px;
  color: #fff;
  appearance: none;
  align-items: center;
  justify-content: center;
}
