.project_container{
  padding-top: 15%;
}

.project{
  background-color: #16253C;
  width: 400px;
  height: 1900px;

  h1{
    text-decoration: none;
    color:#fff;
    font-size: 36px;
    font-style:normal;
    font-weight:700;
    padding-left: 10%;
    padding-top: 5%;
  }

  img{
    width: 333.25px;
    height: 253px;
    padding-left: 10%;
    margin-top: 4%;
  }
}
