.benefits_container {
  padding-top: 10%;;
  padding-left: 5%;
  padding-bottom: 6%;
  width: 92%;

  h2 {
    color: #16253C;
    font-size: 24px;
    font-weight: 500;
  }

  p {
    color: #16253C;
  }

  img{
  width: 300px;
  height: 300px;
  border-radius: 10px;
  }
}
