.oppinion_note{
  width: 1068px;
  height: 375px;
  padding: 32px;
  /* Свойство отвечающее за формирование тени
 8px - отступ по оси Х
 10px - отступ по оси Y
 5px - радиус размытия тения
 2px - радиус распространения
 rgba - функция формирующая цвет тени
*/
  box-shadow: 2px 5px 5px 2px rgba(0, 0, 50, .2);


 p{
   margin-top: 10%;
    font-size: 16px;
    font-weight: normal;
  }

  h2{
    font-size: 16px;
    font-weight: bold;
  }
}

