.doing_template{
  background:#16253C;
  border-radius: 10px;
  width: 305px;
  height: 450px;
  margin-top: 5%;
  /*padding-left: 10%;*/
  padding-top: 5%;

  h5{
    color: #fff;
    font-size:24px;
    font-weight: 700;
    padding-left: 4%;
  }
  p{
    color: #fff;
    width: 278px;
    padding-left: 4%;
  }
  img{
    padding-left: 6%;
    padding-top: 3%;
    width: 250px;
    height: 220px;
  }
}
