.footermobile_sites{
  background-color: #16253c;
  padding-top: 5%;
  padding-bottom: 2%;

  h2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #ffffff;
    padding-left: 10%;
  }

  a {
    text-decoration: none;
    color: #ffffff;
  }

  ul{
    display: flex;
    padding-right: 50px;
    padding-left: 8%;
  }

  li {
    text-decoration: none;
    color: #ffffff;
    list-style-type: none;
    font-size: 16px;
    padding: 2px;
  }
}
