.footer_list_center{

}

.footer_center{
  padding-top: 16%;
  align-items: center;
  justify-content: center;

  h2{
    padding-left: 2%;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    color: #ffffff;
  }

  li{
    text-decoration: none;
    color: #ffffff;
    list-style-type: none;
    font-size: 16px;
    padding-left: 15px;
  }

  a{
    text-decoration: none;
    color: #ffffff;

  }

}
