.oppinion_index_border{
  border: 1px solid #16253C;
  border-radius: 10px;
  width: 912px;
  height: 483px;
}

.slider{
  width: 780px;
  height: 293px;
  padding-left: 25%;
  padding-top: 12%;
}

.buttons{
  padding-left: 42%;
  padding-top: 2%;
  font-weight: normal;
  align-items: center;
  background-color: rgba(28,28,28,0);
}

.button_oppinion{
  padding-top: 2%;
  padding-left: 35%;
}
